################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Diapraxas.BgMax/Diapraxas.BgMax/obj/Debug
